# m h dom m dow cmd
0 2 * * * /sbin/qfstrim
0 3 * * 0 /etc/init.d/idmap.sh dump
0 4 * * * /sbin/hwclock -s
0 3 * * * /sbin/vs_refresh
0 3 * * * /sbin/clean_reset_pwd
0-59/15 * * * * /etc/init.d/nss2_dusg.sh
30 7 * * * /sbin/clean_upload_file
0-59/10 * * * * /etc/init.d/storage_usage.sh
30 3 * * * /sbin/notice_log_tool -v -R
10 15 * * * /usr/bin/power_clean -c 2>/dev/null
39 * * * * /sbin/qddns_check 2>/dev/null
0 16 * * * /etc/init.d/antivirus.sh scan 1
30 8 * * mon,wed,fri /share/CACHEDEV1_DATA/myprograms/backupjob/backupjob.sh
00 15 * * * /share/CACHEDEV1_DATA/myprograms/logrotate/logrotate.sh
30 7 * * * /usr/local/sbin/version_cleaner -t 0 > /dev/null 2>/dev/null
52 7 * * * /usr/bin/qcloud_cli -c
4 3 * * 3 /etc/init.d/backup_conf.sh
